.home{
    
    color: #defff4;
    background-color: rgb(68, 68, 68);
    background-image: url("https://static.wikia.nocookie.net/minecraft_ru_gamepedia/images/1/14/%D0%9E%D0%BA%D0%B5%D0%B0%D0%BD.png");
}

.card1{
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    width: 520px;
    max-width: 600px;
    height: 250px;
    max-height: 300px;
    background-color: rgba(75, 75, 75, 0.2);
    border-radius: 9px;
}
.card1 p{
    color: #a6c2b9;
}

a{
    text-decoration: none;
    margin: auto;
    color: #accce6;
    padding: 5px 10px 6px 10px;
    margin-left: 55px;

}
a:hover{
    text-decoration: none;
    margin: auto;
    color: #8eaac0;
    transition: all 0.24s ease-in-out;
    margin-left: 55px;
    border-bottom: 4px solid rgba(87, 158, 129, 0.61);
}
nav{
    margin: auto;
	width: 100%;
	height: 85px;
	}

nav .container{
    padding: 10px;
    max-width: 80%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
 }

 nav .container a{
    float: right;
 }

 .phc{
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    width: 600px;
    max-width: 800px;
    height: 340px;
    max-height: 550px;
    background-color: rgba(75, 75, 75, 0.39); 
    border-radius: 28px;
 }

 .phc img{
    margin-left: 40px;
 }
 .phc h4{
    margin-left: 40px;
 }
 .phc p{
    margin-left: 40px;
 }

 .card2{
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    width: 800px;
    max-width: 1500px;
    height: 140px;
    max-height: 300px;
    background-color: rgba(75, 75, 75, 0.25);
    border-radius: 14px;
}
.card2 p{
    color: #a6c2b9;
    size: 60px;
}

.cardS{
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    width: 650px;
    max-width: 1500px;
    height:max-content;
    max-height: 900px;
    background-color: rgba(75, 75, 75, 0.39);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom: 4px solid #c5ece0;
}
.cardS p{
    color: #a6c2b9;
    size: 60px;
}
