.home{
    
    color: #defff4;
    background-color: rgb(68, 68, 68);
}

.card1{
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    width: 520px;
    max-width: 600px;
    height: 250px;
    max-height: 300px;
    background-color: rgb(75, 75, 75);
    border-radius: 28px;
}
.card1 p{
    color: #a6c2b9;
}

a{
    text-decoration: none;
    margin: auto;
    color: #ace6d3;
    background-color: rgba(87, 158, 128, 0.904);
    padding: 5px 10px;
    border-radius: 7px;
    margin-left: 55px;

}
a:hover{
    text-decoration: none;
    margin: auto;
    color: #ace6d3ab;
    background-color: rgba(87, 158, 129, 0.61);
    padding: 7px 10px;
    border-radius: 9px;
    transition: all 0.24s ease-in-out;
    margin-left: 55px;
}
nav{
    margin: auto;
	width: 85%;
	height: 85px;
    background-color: rgb(75, 75, 75);
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
	}

nav .container{
    padding: 10px;
    max-width: 80%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
 }

 nav .container a{
    float: right;
 }

 .phc{
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    width: 600px;
    max-width: 800px;
    height: 340px;
    max-height: 550px;
    background-color: rgb(75, 75, 75);
    border-radius: 28px;
 }

 .phc img{
    margin-left: 40px;
 }
 .phc h4{
    margin-left: 40px;
 }
 .phc p{
    margin-left: 40px;
 }

 .card2{
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    width: 800px;
    max-width: 1500px;
    height: 140px;
    max-height: 300px;
    background-color: rgb(75, 75, 75);
    border-radius: 28px;
}
.card2 p{
    color: #a6c2b9;
    size: 60px;
}

.cardS{
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    width: 650px;
    max-width: 1500px;
    height: max-content;
    max-height: 900px;
    background-color: rgb(75, 75, 75);
    border-radius: 28px;
    border-bottom: 4px solid #c5ece0;
}
.cardS p{
    color: #a6c2b9;
    size: 60px;
}
