body{
    background-image: url("https://cdn.discordapp.com/attachments/1000330543793193010/1041388741341757490/unknown.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open sans", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img{
    margin: 20px 10px;
}
.imglog{
    float: right;
    margin-right: 100px;
    padding-bottom: 80px;
}
.dnav{
    margin: auto;
    width: 80%;
    height: 80px;
    background-color: rgba(240, 255, 255, 0.021);
}
.dnav{
    margin: auto;
}

.dnul{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.dnli{
    padding-top: 10px;
    display: inline;
    list-style: none;
}
.dna{
    text-decoration: none;
    color: aquamarine;
    font-size: larger;
    padding: 5px 19px;
}
.dna:hover{
    text-decoration: none;
    color: rgb(88, 194, 159);
    font-size: larger;
    transition: ease-in-out 0.6s;
}


.title{
    margin-top: 30px;
    background-color: rgba(240, 255, 255, 0.226);
    margin-left: 15%;
    padding: 30px 60px;
    width: 50%;
    border: 2px solid rgba(240, 255, 255, 0.74);
}
.title h3{
    color: rgb(115, 117, 255);
}
.title p{
    color: rgb(255, 153, 85);
    background-color: rgba(99, 99, 99, 0.342);
    border-radius: 28px;
    padding: 4px 6px;
}

.sidevar{
    display: block;
}


.shopcard{
    margin-top: 30px;
    background-color: rgba(240, 255, 255, 0.226);
    margin-left: 15%;
    padding: 30px 40px;
    width: 45%;
    border: 2px solid rgba(240, 255, 255, 0.74);
}

.shopcard h4{
    color: aquamarine;
}

.shopcard p{
    color: rgb(144, 248, 234);
}

.shopcard li{
    list-style: none;
    color: rgb(121, 226, 212);
    margin-left: -30px;
}

.art{
    background-color: rgba(240, 255, 255, 0.226);
    margin-left: 15%;
    margin-top: 30px;
    padding: 20px 25px;
    padding-bottom: 35px;
    width: 40%;
    border: 2px solid rgba(240, 255, 255, 0.74);
}

.art p{
    color: rgb(144, 248, 234);
}
.art h5{
    color: aquamarine;
}

.collection{
    display: inline-flex;
}

#are{
    margin: auto;
    width: 95%;
    margin-top: 30px;
}

