html {
    font-size: 14px;
    font-family:sans-serif;
    display: inline;
    background: #727070;
  }
  
  footer {
    font-size: 14px;
    font-family:sans-serif;
  }

  .ser{
    max-width: 75%;
    max-height: 45%;
    margin: 15px;
    background-color: rgb(41, 40, 40);
    padding: 23px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom: 5px solid #669AB9;
    border-right: 5px solid #669AB9;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 75%;
    max-height: 45%;
    margin: 15px;
    background-color: rgb(41, 40, 40);
    padding: 23px;
    border-radius: 28px;
    border-bottom: 5px solid #669AB9;
    border-right: 5px solid #669AB9;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  
  def-text
  {
    font-family:sans-serif;
  }

  .vare{
    max-width: 75%;
    max-height: 45%;
    margin: 15px;
    background-color: rgb(41, 40, 40);
    padding: 23px;
    border-radius: 28px;
    border-right: 9px solid #669AB9;
  }
  
  
  a.hleb
  {
    font-family: 'Dosis', sans;
    font-size: 28px;
    font-weight:200;
    color:rgb(65, 65, 97);
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    background-color: #7ca1e185;
    line-height:3;
    margin: 5px;
    border-radius: 4px;
    background-blend-mode: color;
  }

#right{
    float:initial;
    margin-bottom: 5px;
    margin-right: 3px;
}
