*
{
margin: 0px;
padding: 0px;
}

href
{
background-color: darkgrey;
text-decoration-color: rgb(35, 36, 35);
text-decoration: wavy;
}

bg-gray
{
color: rgb(124, 128, 124);
}

ul
{
display: block;
text-decoration: none;
height: 2em;
width: 12em; 
border-left: 0.25em solid #74f895;
padding: 0.5em;
margin: 0.25em;
font-weight: 900;
background: inherit;
color: #999;
font-size: 1em;
}
