html {
  font-size: 14px;
  font-family:sans-serif;
  display: inline;
  background: #B6B3B3;
}

footer {
  font-size: 14px;
  font-family:sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1380px;
  border-radius: 8px;
  background-color: #DEB8A0;
    box-shadow: 0 0 0 1px #a27b62;
  line-height:5;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

def-text
{
  font-family:sans-serif;
}

ser
{
  display: inline;
}


a.hleb
{
  font-family: 'Dosis', sans;
  font-size: 18px;
  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  background-color: darkgrey;
  line-height:3;
}
a.hleb:hover
{
  font-family: 'Dosis', sans;
  font-size: 20px;
  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  background-color: rgb(87, 90, 87);
}
